html {
	height: 100%;
}

body {
	background: linear-gradient(to top, #F3DBCF, #AAC9CE) no-repeat center center fixed;
    background-size: cover;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #16A5A3;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
	font-family: Century Gothic;
    src: url(fonts/11528.ttf);
   }

   h1 {
	   font-family: Century Gothic;
   }

   h1:hover {
       color: #16A5A3;
   }

   h2 {
      font-family: Century Gothic;
   }

   h2:hover {
      color: #16A5A3;
   }

   li {
	   font-family: Century Gothic;
	   line-height: 30px;
   }

   li:hover {
	   color: #16A5A3;
   }

   .button {
       background-color: transparent;
       background-repeat: no-repeat;
       border: 2px solid #16A5A3;
       border-radius: 30px;
       cursor: pointer;
       font-family: Century Gothic;
       font-weight: bold;
       font-size: 12pt;
       color: #16A5A3;
       height:50px;
       width:100px;
       position: absolute;
       top: 700px;
       left: 1300px;
    }
   .button1 {background-color: transparent;
       background-repeat: no-repeat;
       border: 2px solid #16A5A3;
       border-radius: 30px;
       cursor: pointer;
       font-family: Century Gothic;
       font-weight: bold;
       font-size: 12pt;
       color: #16A5A3;
       height:50px;
       width:100px;
       position: absolute;
       top: 700px;
       left: 1150px;
   }
    button:hover {
       background-color: #AAC9CE;
    }

    button:focus {
       outline: 0 !important;
    }