html {
	height: 100%;
}

body {
	background: linear-gradient(to top, #F3DBCF, #AAC9CE);
}

@font-face {
	font-family: Century Gothic;
    src: url(fonts/11528.ttf);
   }

   h1 {
	   font-family: Century Gothic;
   }

   h1:hover {
       color: #16A5A3;
   }
   h2 {
      font-family: Century Gothic;
   }
   li {
	   font-family: Century Gothic;
	   line-height: 30px;
   }

   li:hover {
	   color: #16A5A3;
   }