<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="shortcut icon" href="https://www.favicon.by/download.php?favicon=5d932d83da440.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
{% block body %}

<center>
    <h1>Oops! Looks like the page doesn't exist :c</h1>
    <a><img src="http://www.limpfish.com/notfound.gif" border="0" width=348 height=378 ></a>
    <h2><a href="https://quiet-citadel-65885.herokuapp.com/" target="_self">push me ;)</a></h2>
</center>
{% endblock %}
</body>
</html>