<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="https://www.favicon.by/download.php?favicon=5d932d83da440.ico" type="image/x-icon">
    <base target="_self">
</head>
<body>
{% block body %}
<center>
 <h1>Hello,user! What's up? c:</h1>
<a><img src ='https://cdn.fishki.net/upload/post/2017/06/27/2323293/3f9d6c02dded5f094e3a1c8b6c12f1dc.gif'></a>
</center>
{% endblock %}
</body>
</html>